@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Honk&family=Jacquard+24&family=Madimi+One&family=Prata&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    overflow: hidden;
    height:100vh;
    text-shadow: 4px 6px 7px rgba(3, 27, 31, 0.822); ;
    /* background:linear-gradient(137deg, rgba(2,0,36,1) 1%, rgba(115,0,255,1) 67%, rgba(162,0,248,1) 78%, rgba(105,9,121,1) 100%); */
    background: linear-gradient(
        325deg,
        hsl(240deg 100% 20%) 0%,
        hsl(222deg 62% 29%) 28%,
        hsl(215deg 55% 35%) 47%,
        hsl(211deg 51% 39%) 59%,
        hsl(212deg 38% 48%) 68%,
        hsl(217deg 38% 61%) 75%,
        hsl(221deg 46% 72%) 79%,
        hsl(225deg 61% 81%) 83%,
        hsl(230deg 70% 80%) 86%,
        hsl(235deg 71% 74%) 89%,
        hsl(239deg 73% 67%) 93%,
        hsl(245deg 77% 53%) 100%
      );;
    width:100vw;
    color: white;
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 15,
      "SHLN" 50;
      user-select: none;
}
.title{
    font-size: 4rem;
    text-align: center;
    z-index:10000;
}
.clock{
    height: 80%;
    width: 70%;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto; 
    position: relative; 
    width: 80%;
    height: 80%;
    display:grid;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, 70px);
    
}
.hours, .mins, .secs{
    display: flex;
    justify-content: center;
    gap:10px;
    height: 50%;
    position: relative;
    top:calc(25% - 20px);
}
.dots{
    text-align: center;
}

.window{
    position: absolute;
    border-radius: 20px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.window-blur{
   height: calc(50% -  28px);
   z-index: 1;
   flex-shrink: 0;
   width: 100%;
   border-radius: 20px;
   background: rgba(255, 255, 255, 0.1); 
   backdrop-filter: blur(1px); 
   box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Adjust shadow as needed */
}

.dots{
    position: relative;
}

.hour-tens, .hour-ones, .min-tens, .min-ones, .sec-tens, .sec-ones {
    position: relative;
    transition: top 1s ease-in-out;
}

.footer{
   position: fixed;
   width: 100%;
   height: 20px;
   bottom: 0;
   padding: 10px;
   text-align: center;
   z-index: 2;
}
.code-url{
    text-decoration: none;
    color: white;
    font-weight: 900;
    z-index: 2;
}

@media (max-width:500px) {
    .clock{
        width: 90%;
    }
}

@media (max-width:350px){
    .clock{
        width: 100%;
    }
}

